
html,body,h1,h2,h4,h5,h6 {font-family: "Helvetica"}

h5{color:#696969;}
h4{color:#696969;}
h3{color:#000000;}
p{color:#2F4F4F; }
em{color:#2F4F4F; }
li{color:#2F4F4F;}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.content {
    margin-left: 10px;
}

.quote {
    color: lightseagreen;
    padding:10px; 
    text-align: center;
}

.quote-content {
    text-align: center;
}

.quote-author {
    text-align: right;
}

a:link {
    text-decoration: none;
    color: dodgerblue;
    font-style: italic;
}

a:hover {
    color: blue;
}

.heading {
    padding-left: 10px;
}

.btn-group button {
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: transparent;
    color: purple;
    cursor: pointer;
    float: left;
}

.navigation-buttons {
    position: relative;
    float: right;
    vertical-align: center;
    margin-right: 20px;
    padding: 10px;
}

.s3-full {
    width: 100%;
    padding: 10px;
    vertical-align: top;
}

.s3-third {
    width: 25%;
    vertical-align: top;
    padding: 10px;
}

.s3-twothird {
    width: 75%;
    vertical-align: top;
    padding: 10px;
}

.s3-row-padding {
    padding: 0;
    overflow-x: auto;
}

.s3-card {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.s3-image-container {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 20%;
    max-height: 20%;
}


.s3-table {
    width: 100%;
}

.s3-image {
    width: 100%;
    border-radius: 50%;
}

.s3-image-project {
    padding-top: 10%;
    width: 100%;
}

.project-card {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    border-radius: 5px;
    margin : 10px;
    float: right;
}

.alpha {
    background-color: transparent;
}

.beta {
    background-color: #696969;
    color: white;
}

.description {
    padding-left: 10px;
    color: whitesmoke;
}

.link-button {
    padding: 10px; 
    border-bottom: 1px solid  #ff0;
    font-weight: bold;
}

.left-topic {
    text-align: right;
}

.right-topic {
    padding-left: 10px;
}

